html{
    height: 400px;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgb(98, 204, 236);
}

.container{
    width: 600px;
    overflow: hidden;
    height: 100%;
    text-align:end; 
    background: rgb(98, 204, 236);   
}

input{
    opacity: 0;
    position: relative;
    top: 92%;
    cursor: pointer;
    height: 6.25%;
    width: 4.1%;
    z-index: 1;
    left: 17.5%;
    margin-right: -0.7%;
  }

  .checkmark{
    position: relative;
    top: 92%;
    margin-bottom:0.6%;
    margin-right: 1.3%;
    height: 4.5%;
    width: 3%;
    background-color: rgb(93, 93, 219);
    border-radius: 50%;
    border: none;
    display: inline-block;
  }
  
  .checkmark:after{
    content: "";
    transform: translate(20%, 20%);
    display: none;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	background: black;
  }

  .first-button:checked ~ .first-checkmark::after {
      display: block;
  }

  .first-button:hover ~ .first-checkmark{
    background: cornsilk;
}

  .second-button:checked ~ .second-checkmark::after {
    display: block;
}

  .second-button:hover ~ .second-checkmark {
    background: cornsilk;
}

.third-button:checked ~ .third-checkmark::after {
    display: block;
}

.third-button:hover ~ .third-checkmark {
    background: cornsilk;
}

.forth-button:checked ~ .forth-checkmark::after {
    display: block;
}

.forth-button:hover ~ .forth-checkmark {
    background: cornsilk;
}

.slider{
    display: flex;
    width: 400%;
    overflow: hidden;
    height: 92%;
    position: relative;
    bottom:8%
}

.picture{
    width: 100%;
    height: 100%;
}

.first{
    background: url(assets/Desktop/First-Slide.jpg);
}

.second{
    background: url(assets/Desktop/Second-Slide.jpg);
}

.third{
    background: url(assets/Desktop/Third-Slide.jpg);
}

.forth{
    background: url(assets/Desktop/Forth-Slide.jpg);
}


.first-button:checked ~ .slider{
    transform: translate(0, 0);
    transition: 0.5s;
}

.second-button:checked ~ .slider{
    transform: translate(-25%, 0);
    transition: 0.5s;
}

.third-button:checked ~ .slider{
    transform: translate(-50%, 0);
    transition: 0.5s;
}

.forth-button:checked ~ .slider{
    transform: translate(-75%, 0);
    transition: 0.5s;
}
