html{
    height: 400px;
    padding-bottom: 100px;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgb(98, 204, 236);
}

.container{
    width: 600px;
    overflow: hidden;
    height: 100%;
    text-align:end; 
    background: rgb(98, 204, 236);   
}

input{
    opacity: 0;
    position: relative;
    top: 92%;
    cursor: pointer;
    height: 6.25%;
    width: 4.1%;
    z-index: 1;
    left: 17.5%;
    margin-right: -0.7%;
  }

  .checkmark{
    position: relative;
    top: 92%;
    margin-bottom:0.6%;
    margin-right: 1.3%;
    height: 4.5%;
    width: 3%;
    background-color: rgb(93, 93, 219);
    border-radius: 50%;
    border: none;
    display: inline-block;
  }
  
  .checkmark:after{
    content: "";
    transform: translate(20%, 20%);
    display: none;
	width: 70%;
	height: 70%;
	border-radius: 50%;
	background: black;
  }



  .first-button:checked ~ .first-checkmark::after {
    display: block;
  }

  .first-button:hover ~ .first-checkmark{
    background: cornsilk;
}

  .first-button:active ~ .first-checkmark{
    background: rgb(180, 179, 172);
  }



  .second-button:checked ~ .second-checkmark::after {
    display: block;
}

  .second-button:hover ~ .second-checkmark {
    background: cornsilk;
}

  .second-button:active ~ .second-checkmark {
    background:rgb(180, 179, 172);
}



  .third-button:checked ~ .third-checkmark::after {
    display: block;
}

  .third-button:hover ~ .third-checkmark {
    background: cornsilk;
}

  .third-button:active ~ .third-checkmark {
    background: rgb(180, 179, 172);
}



  .forth-button:checked ~ .forth-checkmark::after {
    display: block;
}

  .forth-button:hover ~ .forth-checkmark {
    background: cornsilk;
}

  .forth-button:hover ~ .forth-checkmark{
    background:rgb(180, 179, 172);
}



.slider{
    display: flex;
    width: 400%;
    overflow: hidden;
    height: 87.5%;
    position: relative;
    bottom:8%;
}

.border{
    content: "";
    width: 102%;
    height: 91.4%;
    border: 5px solid rgb(98, 204, 236);
    border-radius: 5%;
    position: relative;
    top: -116.3%;
    right: 1%;
    display: inline-block;
    box-sizing: border-box;
}

.picture{
    width: 100%;
    height: 100%;
}

.first-picture{
    background: url(assets/Desktop/First-Slide.jpg);
}

.second-picture{
    background: url(assets/Desktop/Second-Slide.jpg);
}

.third-picture{
    background: url(assets/Desktop/Third-Slide.jpg);
}

.forth-picture{
    background: url(assets/Desktop/Forth-Slide.jpg);
}


.first-button:checked ~ .slider{
    transform: translate(0, 0);
    transition: 0.5s;
}

.second-button:checked ~ .slider{
    transform: translate(-25%, 0);
    transition: 0.5s;
}

.third-button:checked ~ .slider{
    transform: translate(-50%, 0);
    transition: 0.5s;
}

.forth-button:checked ~ .slider{
    transform: translate(-75%, 0);
    transition: 0.5s;
}

.text{
    position: relative;
    top:3.5%;
    opacity: 0;
    display: block;
    text-align: start;
    width: fit-content;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(156, 110, 23);
}

.first-button:checked ~ .first-text{
    top:-2%;
    opacity: 1;
    transition: 0.5s;
}

.second-button:checked ~ .second-text{
    top: -7%;
    opacity: 1;
    transition: 0.5s;
}

.third-button:checked ~ .third-text{
    opacity: 1;
    top:-12%;
    transition: 0.5s;
}

.forth-button:checked ~ .forth-text{
    opacity: 1;
    top:-16%;
    transition: 0.5s;
}


@media (max-width:420px) {
   .container{
       width: 300px;
   }

   .slider{
       height: 43.75%;
   }
   
   .first-picture{
       background: url(assets/Mobile/First-Slide.jpg);
   }

   .second-picture{
       background: url(assets/Mobile/Second-Slide.jpg);
   }

   .third-picture{
       background: url(assets/Mobile/Third-Slide.jpg);
   }

   .forth-picture{
       background: url(assets/Mobile/Forth-Slide.jpg);
   }

   input{
       width: 8.3%;
       opacity: 0;
       left:1%;
       margin: -0.5%;
       top:48.25%;
   }

   .checkmark{
       width: 6%;
       right: 32%;
       top:48.25%;
   }
   
   .text{
       top: 20%;
   }

.first-button:checked ~ .first-text{
    top:6.75%;
}

.second-button:checked ~ .second-text{
    top: 1.75%;
}

.third-button:checked ~ .third-text{
    top:-3.25%;
}

.forth-button:checked ~ .forth-text{
    top:-7.25%;
}

.border{
    height: 44.5%;
    top: -70.5%;
}
   
}